# Project 2
## Step 1: Exploring your data.

##### Load your data in using Pandas and start to explore. Save all of your early exploration code here and include in your final submission.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import norm
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("assets/billboard.csv")
df.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1. row entry - song, time, genre, date entered, date peaked, and the position on the billboard for every week
2. 76 weeks? when was the first?
3. Genres affect position?
4. length of the song? all average?
5. the date it was entered affected the position on billboard?
6. if introduced later, maybe it became a hit later?

In [3]:
df.describe()

/Users/Marat/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,year,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,x6th.week,x7th.week,x8th.week,x9th.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
count,317.0,317.000000,312.000000,307.000000,300.000000,292.000000,280.000000,269.000000,260.000000,253.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2000.0,79.958991,71.173077,65.045603,59.763333,56.339041,52.360714,49.219331,47.119231,46.343874,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.0,14.686865,18.200443,20.752302,22.324619,23.780022,24.473273,25.654279,26.370782,27.136419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2000.0,15.000000,8.000000,6.000000,5.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2000.0,74.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2000.0,81.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2000.0,91.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2000.0,100.000000,100.000000,100.000000,100.000000,100.000000,99.000000,100.000000,99.000000,100.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1. Year range - from 2000 to 2000
2. 317 entries?
3. NANs mess up the stats?
4. Count of

In [ ]:
df.describe(include = "all")

In [ ]:
type(df["time"][0])

In [ ]:
#First, we separate the 'time' column into minutes and seconds
time_separated = df["time"].apply(lambda x: x.split(":"))
print time_separated

In [ ]:
# we then re-assign the values to a new column in df
df["song_length"] = time_separated.apply(lambda x: int(x[0])*60+int(x[1]))
df["song_length"]

In [ ]:
df["song_length"].describe()

In [ ]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 100

In [ ]:
df.groupby("genre").describe(include = "all")

In [ ]:
df.columns

In [ ]:
print df.columns[7:83]

In [ ]:
weeks_only = df.ix[:,'x1st.week':'x76th.week']

In [ ]:
type(weeks_only)

In [ ]:
weeks_only[0:1]

In [ ]:
index_values = df.index.values

In [ ]:
# Use JointGrid directly to draw a custom plot
grid = sns.JointGrid(df.columns[7:83], weeks_only[0:1], space=0, size=6, ratio=50)
grid.plot_joint(plt.scatter, color="g")
grid.plot_marginals(sns.rugplot, height=1, color="g")

In [ ]:
#Convert all week columns to integer type
df[:,"x1st.week":'x76th.week'] = df[:,'x1st.week':'x76th.week'].apply(lambda x: float(x))

In [ ]:
#introduce an array of labels for x-axis
week_labels = df.columns['x1st.week':'x76th.week']
print week_labels

In [ ]:
#ok, new start

In [ ]:
print np.asarray(df.ix[:,'x1st.week':'x76th.week'])

In [ ]:
new_df = pd.DataFrame(data = np.asarray(df.ix[:,'x1st.week':'x76th.week']).T.tolist(), columns = df["track"], index = df.columns[7:83])

In [ ]:
new_df.columns

In [ ]:
new_df.describe(include = "all")

In [ ]:
new_df['Independent Women Part I'].count()

In [ ]:
new_df['Independent Women Part I'].plot(marker='o')

In [ ]:
ax = new_df['Independent Women Part I'].plot(marker='o')
new_df['Maria, Maria'].plot(marker='o', ax=ax)

In [ ]:
ax = new_df['Independent Women Part I'].plot(marker='o')

for row in new_df.columns:
    if row != 'Independent Women Part I':
        new_df[row].plot(marker='o', ax=ax)

after 71st week all NaN?
how to select what data to analyze next

In [ ]:
#Has the longest stay produce the best result
# all songs that have values after week...
# Let's look at the histogram

In [ ]:
new_df_described = new_df.describe(include = "all")
print new_df_described.iloc[0]

In [ ]:
# maximum number of weeks on the billboard for one of our songs
new_df_described.iloc[0].max()

In [ ]:
#Since we know that week 65 still holds values, that means that some songs leave the billboard only to reappear again

In [ ]:
#Plot a histogram for these values

plt.hist(new_df_described.iloc[0])

In [ ]:
#New dataframe description is transposed for easier plots
new_df_d_t = pd.DataFrame(data = np.asarray(new_df_described).T.tolist(),columns = new_df_described.index.values, index =new_df_described.columns[:])

In [ ]:
print new_df_d_t.columns

In [ ]:
new_df_d_t.plot(kind = 'scatter', x='count',y='min')

In [ ]:
sns.set(style="darkgrid", color_codes=True)

sns.jointplot("count", "min", data=new_df_d_t, kind="reg", xlim=(0, 76), ylim=(0, 100), color="r", size=7)

In [ ]:
for row in new_df.index.values:
    print pd.isnull(new_df['Maria, Maria'][row])

In [ ]:
#how quickly did they rise to their own top value (in how many weeks)
#how long did they stay at their best

acceleration_list = []
duration_on_top_list = []
comeback_list = []

trend_dict = {}

for row in new_df.columns:
    accel=0
    dur_on_top=0
    comeback=0
    decel=0
    for week in new_df.index.values:
        if pd.isnull(new_df.loc[week,row]):
            pass
        else:
            if dur_on_top==0 and int(new_df.ix[week][row]) != int(new_df[row].min()):
                accel += 1
            elif dur_on_top==0 and int(new_df.ix[week][row]) == int(new_df[row].min()):
                dur_on_top = 1
            elif dur_on_top!=0 and int(new_df.ix[week][row]) == int(new_df[row].min()) and decel == 0:
                dur_on_top += 1
            elif dur_on_top!=0 and int(new_df.ix[week][row]) == int(new_df[row].min()) and decel > 0:
                comeback += 1
            elif dur_on_top!=0 and int(new_df.ix[week][row]) != int(new_df[row].min()):
                decel += 1
    acceleration_list.append(accel)
    duration_on_top_list.append(dur_on_top)
    comeback_list.append(comeback)
    
trend_dict["Weeks to the Top"] = acceleration_list
trend_dict["Weeks on Top"] = duration_on_top_list
trend_dict["Weeks after comeback"] = comeback_list
    
trend_df = pd.DataFrame.from_dict(trend_dict)
print trend_df

In [ ]:
new_df["Maria, Maria"].min()

##### Write a brief description of your data, and any interesting observations you've made thus far.

## Step 2: Clean your data.

##### Do some rudimentary cleaning. Rename any columns that are poorly named, shorten any strings that may be too long, check for missing values (and replace them if it makes sense to do so). Explain your rationale for the way you choose to "impute" the missing data.

In [ ]:
bb = pd.read_csv("../assets/billboard.csv")
bb.head()

In [ ]:
#check to see if the columns at the end are missing values entirely
bb['x76th.week'].unique()

In [ ]:
#dropping columns where all values are Null
bb.dropna(axis=1, how='all', thresh=None, subset=None, inplace=True)

In [ ]:
bb.dtypes

In [ ]:
bb['x1st.week'] = bb['x1st.week'].astype(float)
bb.head()

In [ ]:
bb.rename(columns={'artist.inverted': 'artist'}, inplace=True)
bb.head()

In [ ]:
#Rename all the week columns
i=1
for row in bb.columns[7:]:
    bb.rename(columns={row: str('Week '+ str(i))}, inplace=True)
    i = i+1
    
bb.head()

In [ ]:
#Changing time from string to seconds
time_separated = bb["time"].apply(lambda x: x.split(":"))
bb["time"] = time_separated.apply(lambda x: int(x[0])*60+int(x[1]))
bb.head()

##### Using Pandas' built in `melt` function, pivot the weekly ranking data to be long rather than wide. As a result, you will have removed the 72 'week' columns and replace it with two: Week and Ranking. There will now be multiple entries for each song, one for each week on the Billboard rankings.

In [ ]:
value_list = []

for row in bb.columns[7:]:
    value_list.append(row)

bb_widetolong = pd.melt(bb, id_vars='track', value_vars=value_list, var_name="Week", value_name='Ranking', col_level=None)

In [ ]:
# how many rank number 1
bb_widetolong[bb_widetolong["Ranking"]==1]

In [ ]:
#how many songs got to number 1
hit_song_list = bb_widetolong[bb_widetolong["Ranking"]==1]["track"].unique()

In [ ]:
pd.pivot_table(bb,index=["track","artist"],values=value_list)

In [ ]:
#find how many days each hit song remained on number 1 spot:

## Step 3: Visualize your data.

##### Using a plotting utility of your choice (Tableau or python modules or both), create visualizations that will provide context to your data. There is no minimum or maximum number of graphs you should generate, but there should be a clear and consistent story being told. Give insights to the distribution, statistics, and relationships of the data.

## Step 4: Create a Problem Statement.

##### Having explored the data, come up with a problem statement for this data set. You can feel free to introduce data from any other source to support your problem statement, just be sure to provide a link to the origin of the data. Once again- be creative!

## Step 5: Brainstorm your Approach.
##### In bullet-list form, provide a proposed approach for evaluating your problem statement. This can be somewhat high-level, but start to think about ways you can massage the data for maximum efficacy.

## Step 6: Create a blog post with your code snippets and visualizations.
##### Data Science is a growing field, and the Tech industry thrives off of collaboration and sharing of knowledge. Blogging is a powerful means for pushing the needle forward in our field. Using your blogging platform of choice, create a post describing each of the 5 steps above. Rather than writing a procedural text, imagine you're describing the data, visualizations, and conclusions you've arrived at to your peers. Aim for a minimum of 500 words.

## BONUS: The Content Managers working for the Podcast Publishing Company have recognized you as a thought leader in your field. They've asked you to pen a white paper (minimum 500 words) on the subject of 'What It Means To Have Clean Data'. This will be an opinion piece read by a wide audience, so be sure to back up your statements with real world examples or scenarios.

##### Hint: To get started, look around on the internet for articles, blog posts, papers, youtube videos, podcasts, reddit discussions, anything that will help you understand the challenges and implications of dealing with big data. This should be a personal reflection on everything you've learned this week, and the learning goals that have been set out for you going forward.