# Getting started

Once you've chosen your scenario, download the data from [the Iowa website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy) in csv format. Start by loading the data with pandas. You may need to parse the date columns appropriately.

In [1]:
import pandas as pd

## Load the data into a DataFrame
# pd.read_csv()

## Transform the dates if needed, e.g.
# df["Date"] = pd.to_datetime(df["Date"], format="%m-%d-%y")

In [2]:
df = pd.read_csv("../Assets/Iowa_Liquor_Sales_reduced.csv")
df.head()

/Users/Marat/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,03/31/2016,5029,DAVENPORT,52806,82.0,Scott,1022100.0,TEQUILA,370,87152,Avion Silver,375,$9.99,$14.99,12,$179.88,4.5,1.19
1,03/31/2016,5029,DAVENPORT,52806,82.0,Scott,1022100.0,TEQUILA,395,89197,Jose Cuervo Especial Reposado Tequila,1000,$12.50,$18.75,2,$37.50,2.0,0.53
2,03/31/2016,4959,CEDAR FALLS,50613,7.0,Black Hawk,1071100.0,AMERICAN COCKTAILS,380,63959,Uv Blue Raspberry Lemonade Pet,1750,$5.97,$8.96,6,$53.76,10.5,2.77
3,03/31/2016,2190,DES MOINES,50314,77.0,Polk,1031200.0,VODKA FLAVORED,205,40597,New Amsterdam Red Berry,200,$2.24,$3.36,48,$161.28,9.6,2.54
4,03/31/2016,5240,WEST BRANCH,52358,NaN,NaN,1081200.0,CREAM LIQUEURS,305,73055,Rumchata,750,$12.50,$18.75,6,$112.50,4.5,1.19

In [4]:
df.corr()

,Store Number,County Number,Category,Vendor Number,Item Number,Bottle Volume (ml),Bottles Sold,Volume Sold (Liters),Volume Sold (Gallons)
Store Number,1.000000,0.006428,-0.011890,-0.004009,-0.025724,-0.057311,0.014656,-0.017166,-0.017155
County Number,0.006428,1.000000,-0.007005,0.000799,0.009171,-0.026037,0.017886,0.007545,0.007555
Category,-0.011890,-0.007005,1.000000,0.093939,0.111992,-0.006541,0.001862,-0.004900,-0.004892
Vendor Number,-0.004009,0.000799,0.093939,1.000000,0.134106,0.024174,-0.000784,-0.006085,-0.006081
Item Number,-0.025724,0.009171,0.111992,0.134106,1.000000,-0.042872,-0.001215,-0.007188,-0.007178
Bottle Volume (ml),-0.057311,-0.026037,-0.006541,0.024174,-0.042872,1.000000,-0.013334,0.144235,0.144081
Bottles Sold,0.014656,0.017886,0.001862,-0.000784,-0.001215,-0.013334,1.000000,0.890409,0.890440
Volume Sold (Liters),-0.017166,0.007545,-0.004900,-0.006085,-0.007188,0.144235,0.890409,1.000000,1.000000
Volume Sold (Gallons),-0.017155,0.007555,-0.004892,-0.006081,-0.007178,0.144081,0.890440,1.000000,1.000000

In [3]:
df.describe()

/Users/Marat/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Store Number,County Number,Category,Vendor Number,Item Number,Bottle Volume (ml),Bottles Sold,Volume Sold (Liters),Volume Sold (Gallons)
count,2.709552e+06,2.698639e+06,2.708773e+06,2.709552e+06,2.709552e+06,2.709552e+06,2.709552e+06,2.709552e+06,2.709552e+06
mean,3.589071e+03,5.726086e+01,1.043826e+06,2.563901e+02,4.601624e+04,9.242111e+02,9.838390e+00,8.921504e+00,2.357017e+00
std,9.491083e+02,2.732565e+01,5.003493e+04,1.408757e+02,5.311268e+04,5.464858e+02,2.349863e+01,2.824435e+01,7.461356e+00
min,2.106000e+03,1.000000e+00,1.011100e+06,1.000000e+01,1.460000e+02,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,2.604000e+03,NaN,NaN,1.150000e+02,2.682800e+04,7.500000e+02,2.000000e+00,1.500000e+00,4.000000e-01
50%,3.721000e+03,NaN,NaN,2.600000e+02,3.817600e+04,7.500000e+02,6.000000e+00,5.250000e+00,1.390000e+00
75%,4.382000e+03,NaN,NaN,3.800000e+02,6.460100e+04,1.000000e+03,1.200000e+01,1.050000e+01,2.770000e+00
max,9.023000e+03,9.900000e+01,1.701100e+06,9.780000e+02,9.992750e+05,2.250000e+05,3.960000e+03,3.960000e+03,1.046120e+03

In [9]:
df.columns

Index([u'Date', u'Store Number', u'City', u'Zip Code', u'County Number',
       u'County', u'Category', u'Category Name', u'Vendor Number',
       u'Item Number', u'Item Description', u'Bottle Volume (ml)',
       u'State Bottle Cost', u'State Bottle Retail', u'Bottles Sold',
       u'Sale (Dollars)', u'Volume Sold (Liters)', u'Volume Sold (Gallons)'],
      dtype='object')

In [21]:
df['City'].unique().size

386

In [22]:
df['Zip Code'].unique().size

771

In [29]:
df.dtypes

Date                      object
Store Number               int64
City                      object
Zip Code                  object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number              int64
Item Number                int64
Item Description          object
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

In [31]:
from datetime import datetime

In [37]:
df["Date"] = df["Date"].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

pandas.core.series.Series

In [41]:
df["year"] = df["Date"].apply(lambda x: x.year)
df.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),year
0,2016-03-31,5029,DAVENPORT,52806,82.0,Scott,1022100.0,TEQUILA,370,87152,Avion Silver,375,$9.99,$14.99,12,$179.88,4.5,1.19,2016
1,2016-03-31,5029,DAVENPORT,52806,82.0,Scott,1022100.0,TEQUILA,395,89197,Jose Cuervo Especial Reposado Tequila,1000,$12.50,$18.75,2,$37.50,2.0,0.53,2016
2,2016-03-31,4959,CEDAR FALLS,50613,7.0,Black Hawk,1071100.0,AMERICAN COCKTAILS,380,63959,Uv Blue Raspberry Lemonade Pet,1750,$5.97,$8.96,6,$53.76,10.5,2.77,2016
3,2016-03-31,2190,DES MOINES,50314,77.0,Polk,1031200.0,VODKA FLAVORED,205,40597,New Amsterdam Red Berry,200,$2.24,$3.36,48,$161.28,9.6,2.54,2016
4,2016-03-31,5240,WEST BRANCH,52358,NaN,NaN,1081200.0,CREAM LIQUEURS,305,73055,Rumchata,750,$12.50,$18.75,6,$112.50,4.5,1.19,2016

In [43]:
df2015 = df[df["year"] == 2015]
df2015.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),year
525069,2015-12-31,3400,DES MOINES,50317,77.0,Polk,1051140.0,PEACH BRANDIES,115,56195,Paul Masson Peach Grande Amber Brandy,375,$3.22,$4.83,24,$115.92,9.0,2.38,2015
525070,2015-12-31,4165,ANKENY,50023,77.0,Polk,1031080.0,VODKA 80 PROOF,380,37348,Phillips Vodka,1750,$7.60,$11.40,6,$68.40,10.5,2.77,2015
525071,2015-12-31,4617,DES MOINES,50317,77.0,Polk,1031080.0,VODKA 80 PROOF,380,37348,Phillips Vodka,1750,$7.60,$11.40,6,$68.40,10.5,2.77,2015
525072,2015-12-31,5089,MISSOURI VALLEY,51555,43.0,Harrison,1011100.0,BLENDED WHISKIES,260,27554,Seagrams Seven Crown Dark Honey,750,$7.00,$10.50,2,$21.00,1.5,0.40,2015
525073,2015-12-31,4695,ALTOONA,50009,77.0,Polk,1081600.0,WHISKEY LIQUEUR,421,64866,Fireball Cinnamon Whiskey,750,$8.98,$13.47,12,$161.64,9.0,2.38,2015

In [44]:
df2015.describe()

,Store Number,County Number,Category,Vendor Number,Item Number,Bottle Volume (ml),Bottles Sold,Volume Sold (Liters),Volume Sold (Gallons),year
count,2.184483e+06,2.183364e+06,2.183710e+06,2.184483e+06,2.184483e+06,2.184483e+06,2.184483e+06,2.184483e+06,2.184483e+06,2184483.0
mean,3.578517e+03,5.719683e+01,1.044253e+06,2.559387e+02,4.596141e+04,9.248151e+02,9.875308e+00,8.980478e+00,2.372598e+00,2015.0
std,9.435823e+02,2.729248e+01,5.254551e+04,1.409934e+02,5.263435e+04,5.211457e+02,2.369368e+01,2.834942e+01,7.489113e+00,0.0
min,2.106000e+03,1.000000e+00,1.011100e+06,1.000000e+01,1.730000e+02,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2015.0
25%,2.603000e+03,NaN,NaN,1.150000e+02,2.682800e+04,7.500000e+02,2.000000e+00,1.500000e+00,4.000000e-01,2015.0
50%,3.713000e+03,NaN,NaN,2.600000e+02,3.817600e+04,7.500000e+02,6.000000e+00,5.250000e+00,1.390000e+00,2015.0
75%,4.357000e+03,NaN,NaN,3.800000e+02,6.460100e+04,1.000000e+03,1.200000e+01,1.050000e+01,2.770000e+00,2015.0
max,9.023000e+03,9.900000e+01,1.701100e+06,9.780000e+02,9.992750e+05,1.800000e+05,3.960000e+03,3.960000e+03,1.046120e+03,2015.0

In [45]:
df2015['Store Number'].unique().size

1375

In [46]:
df2015['Vendor Number'].unique().size

147

In [47]:
df2015['Item Number'].unique().size

3595

In [48]:
df2015['Item Description'].unique().size

2740

In [50]:
df2015['Store Number'].value_counts

<bound method Series.value_counts of 525069     3400
525070     4165
525071     4617
525072     5089
525073     4695
525074     4374
525075     4725
525076     9002
525077     4374
525078     4725
525079     4165
525080     4617
525081     4695
525082     4169
525083     5089
525084     4617
525085     4165
525086     4169
525087     9002
525088     5089
525089     4725
525090     5089
525091     4617
525092     5089
525093     4617
525094     4165
525095     5089
525096     4617
525097     4695
525098     4617
           ...
2709522    2527
2709523    3403
2709524    4267
2709525    4229
2709526    4794
2709527    2560
2709528    2558
2709529    2573
2709530    4188
2709531    2599
2709532    3952
2709533    3631
2709534    3773
2709535    2643
2709536    2633
2709537    2648
2709538    2506
2709539    4164
2709540    4972
2709541    3525
2709542    4000
2709543    2590
2709544    3494
2709545    3907
2709546    2448
2709547    4696
2709548    2590
2709549    3631
2709550    2517
2709551    2643
Name: Store Number, dtype: int64>

Calculate the yearly liquor sales for each score using the provided data. You can add up the transactions for each year, and store sales in 2015 specifically will be used later as your target variable.

In [52]:
df2015.pivot_table(values="Sale (Dollars)", index="Store Number", columns=None, aggfunc='sum', fill_value=None, margins=False, dropna=True, margins_name='All')

Store Number
2106    $182.94$998.64$162.00$323.28$37.50$94.20$261.1...
2113    $162.00$7.92$16.50$204.12$55.50$44.98$33.06$20...
2130    $85.56$126.00$68.40$141.78$28.98$162.00$128.04...
2152    $20.50$10.50$67.47$9.05$34.02$64.56$20.76$5.57...
2178    $21.00$486.00$95.04$126.24$49.50$126.00$14.16$...
2190    $22.50$97.49$113.28$806.40$49.49$106.50$30.00$...
2191    $44.24$10.50$49.49$32.01$170.94$40.50$619.92$7...
2200    $10.50$31.50$162.00$85.48$74.22$15.03$22.06$18...
2205    $30.75$20.70$31.49$186.12$11.25$55.14$60.52$99...
2228    $8.58$9.00$21.00$14.96$20.50$20.50$23.76$94.20...
2233    $88.48$19.50$141.78$98.98$162.00$186.12$20.50$...
2238    $99.18$58.38$33.00$99.00$233.76$80.16$77.28$15...
2248    $265.44$85.50$113.28$332.88$296.94$35.50$21.39...
2285    $180.00$225.00$85.56$513.72$81.00$72.72$144.00...
2290    $22.50$60.98$44.24$10.35$15.74$45.00$18.90$45....
2327    $21.39$47.26$11.03$15.76$40.41$54.24$34.89$27....
2353    $68.96$28.52$22.50$33.76$33.00$100.76$144.00$2...
2367    $96.72$30.39$243.84$252.00$64.80$240.78$67.26$...
2413    $108.00$47.26$81.00$332.88$20.50$162.00$94.20$...
2445    $60.98$47.26$15.03$32.64$21.00$9.25$204.12$44....
2448    $34.48$31.48$40.50$27.28$14.26$12.00$10.11$72....
2459    $206.88$20.50$21.00$55.50$16.50$26.04$55.50$49...
2460    $265.44$62.96$22.50$593.88$60.72$67.83$62.98$1...
2465    $21.75$44.24$49.49$95.04$128.43$94.20$39.36$89...
2475    $63.78$94.47$46.53$37.77$60.72$690.00$40.50$73...
2478    $72.00$94.47$216.96$144.00$269.88$396.72$143.0...
2487    $136.68$162.00$7.13$67.26$11.81$15.00$48.48$9....
2498    $27.66$42.68$13.50$11.03$11.21$67.50$11.21$59....
2500    $8.58$21.39$21.75$21.00$47.22$136.80$15.00$20....
2501    $28.52$65.25$31.50$57.00$135.00$126.00$60.00$9...
                              ...
5182    $30.06$60.72$45.00$45.00$35.28$20.40$64.80$135...
5183    $161.64$188.40$179.16$81.60$125.28$104.04$207....
5185    $124.20$72.00$106.56$63.00$22.06$42.78$18.48$2...
5186    $26.64$31.50$63.00$27.66$103.44$94.20$161.64$6...
5187    $141.78$42.52$341.88$341.88$84.60$84.60$94.20$...
5188    $60.12$94.20$69.78$188.88$21.00$242.88$64.32$1...
5189    $206.88$302.28$188.88$106.20$225.00$67.26$100....
5190    $53.82$47.22$94.20$64.56$62.00$271.32$60.72$67...
5191    $144.00$66.84$182.88$180.00$81.60$148.56$60.72...
5192    $30.06$121.44$90.00$135.00$64.56$90.00$48.42$8...
5193    $15.75$55.32$31.50$94.20$67.83$67.83$47.22$18....
5196    $44.96$13.66$41.40$64.32$81.45$63.78$22.50$20....
5198    $43.50$68.96$10.50$24.00$21.00$29.98$10.68$7.5...
5199    $5.57$11.21$11.03$89.58$14.24$9.45$9.45$19.50$...
5201    $34.50$22.42$36.48$75.00$64.56$22.42$14.14$75....
5203    $67.83$54.24$204.12$119.40$333.00$188.88$7.20$...
5204    $14.70$170.94$26.94$15.00$15.00$11.64$16.00$17...
5205    $34.48$9.75$45.00$33.06$17.24$17.24$89.58$12.0...
5206    $31.48$94.20$119.96$20.88$60.76$129.12$75.24$5...
5207    $21.00$22.80$12.00$12.39$45.22$10.50$39.96$19....
5212    $161.64$40.08$62.10$135.66$40.44$103.44$36.48$...
5213    $70.56$8.88$52.50$180.00$72.00$44.04$74.40$66....
5215    $182.94$27.28$74.22$24.78$18.00$202.50$20.22$4...
9001    $630.00$810.00$337.56$396.18$1200.60$622.50$13...
9002    $2265.60$6226.08$327.36$252.36$366.24$648.00$8...
9010    $239.28$354.96$239.28$108.00$354.96$152.16$177...
9013    $982.08$328.68$328.68$540.00$129.24$348.48$432...
9018                             $8100.00$7290.00$6435.00
9022                                             $3992.10
9023    $633.36$633.36$633.36$633.36$633.36$2216.76$31...
Name: Sale (Dollars), dtype: object

In [58]:
df2015["Sale (Dollars)"].head()

525069    $115.92
525070     $68.40
525071     $68.40
525072     $21.00
525073    $161.64
Name: Sale (Dollars), dtype: object

In [59]:
df2015["Sale (Dollars)"] = df2015["Sale (Dollars)"].apply(lambda x: str.lstrip(x,'$'))
df2015["Sale (Dollars)"].head()

/Users/Marat/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

525069    115.92
525070     68.40
525071     68.40
525072     21.00
525073    161.64
Name: Sale (Dollars), dtype: object

In [60]:
df2015["Sale (Dollars)"] = df2015["Sale (Dollars)"].apply(lambda x: float(x))
df2015["Sale (Dollars)"].head()

/Users/Marat/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

525069    115.92
525070     68.40
525071     68.40
525072     21.00
525073    161.64
Name: Sale (Dollars), dtype: float64

In [61]:
pivot_store_sum = df2015.pivot_table(values="Sale (Dollars)", index="Store Number", columns=None, aggfunc='sum', )

Store Number
2106    1434369.85
2113      85763.42
2130    1108184.99
2152      72080.36
2178     277987.96
2190    1228571.74
2191    1275911.76
2200     223914.99
2205     231651.87
2228     188879.70
2233     316855.05
2238     105128.53
2248     659358.37
2285     777551.65
2290     550217.80
2327     100596.80
2353     486276.63
2367      65149.11
2413     836101.13
2445      71682.86
2448     203168.88
2459      79026.65
2460     301765.14
2465     264728.41
2475     121763.29
2478     198550.40
2487     293643.02
2498      27453.07
2500    1355085.92
2501    1379036.74
           ...
5182      25096.50
5183       8169.67
5185      12463.70
5186       4323.40
5187      39085.29
5188      14610.32
5189      13794.18
5190       8678.36
5191       4141.35
5192       2774.64
5193       2600.64
5196       8890.73
5198      36276.74
5199      15195.32
5201       2791.80
5203       9959.70
5204      10138.49
5205       1656.03
5206       6905.69
5207      30359.21
5212       5723.57
5213        679.98
5215       3169.50
9001     191820.12
9002     327676.62
9010      26209.38
9013      30957.66
9018      21825.00
9022       3992.10
9023       8550.36
Name: Sale (Dollars), dtype: float64

# Explore the data

Perform some exploratory statistical analysis and make some plots, such as histograms of transaction totals, bottles sold, etc.

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt

## Record your findings

Be sure to write out anything observations from your exploratory analysis.

# Mine the data
Now you are ready to compute the variables you will use for your regression from the data. For example, you may want to
compute total sales per store from Jan to March of 2015, mean price per bottle, etc. Refer to the readme for more ideas appropriate to your scenario.

Pandas is your friend for this task. Take a look at the operations [here](http://pandas.pydata.org/pandas-docs/stable/groupby.html) for ideas on how to make the best use of pandas and feel free to search for blog and Stack Overflow posts to help you group data by certain variables and compute sums, means, etc. You may find it useful to create a new data frame to house this summary data.

# Refine the data
Look for any statistical relationships, correlations, or other relevant properties of the dataset.

# Build your models

Using scikit-learn or statsmodels, build the necessary models for your scenario. Evaluate model fit.

In [6]:
from sklearn import linear_model

## Plot your results

Again make sure that you record any valuable information. For example, in the tax scenario, did you find the sales from the first three months of the year to be a good predictor of the total sales for the year? Plot the predictions versus the true values and discuss the successes and limitations of your models

# Present the Results

Present your conclusions and results. If you have more than one interesting model feel free to include more than one along with a discussion. Use your work in this notebook to prepare your write-up.